.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}


@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}

.textCenter{
    text-align: center;
    margin-bottom: 20px;
}

.card{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid;
}

.wrapper{
    padding: 5px;
}

.columns{
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
}

.column{
    flex: 2;
    border: 1px solid #eee;
    margin: 2px;
    padding: 10px;
    transition: 0.3s;
}

.column:first-child{
    flex: 0 0 700px;
    background: rgb(244, 244, 244);
}

.column:nth-child(1){
    flex: 1;
    max-width: 1500px;
    background-color: rgb(244, 244, 244);
}

.column:last-child{
    flex: 1;
    max-width: 200px;
    background: rgb(244, 244, 244);
}

.eventWrapper{
    display: flex;
  align-items: flex-start;
  margin-top: 10px;
  background: rgb(255, 246, 246);
  border-radius: 30px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.notificationWrapper{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    background: rgb(255, 246, 246);
    border-radius: 30px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    text-wrap: wrap;
}
